<div class="col">
    <section class="page-section">
        <div class="bg-faded p-5 rounded">
            <h2 class="section-heading mb-0">
                <span class="section-heading-upper">My Virtual Pantry</span>
                <span class="section-heading-lower">My Ingredients</span>
            </h2>
            <div class="card-deck row">
                <button class="btn btn-sm button"
                    (click)="removeItemFromPantry(i)" *ngFor="let i of this.pantryService.ingredient"
                    [ngClass]="{
                        'btn-meat':i.category === 'meats',
                        'btn-dairy':i.category === 'dairy',
                        'btn-veggies':i.category === 'veggies',
                        'btn-fruits':i.category === 'fruits',
                        'btn-spices':i.category === 'spices',
                        'btn-grains':i.category === 'grains'}">
                    {{i.name }}</button>
            </div>
            <div class="card-deck row">
                <button class="btn btn-sm button"
                    (click)="removeItemFromPantry(i)" *ngFor="let i of this.userPantryIngredients"
                    [ngClass]="{
                        'btn-meat':i.category === 'meats',
                        'btn-dairy':i.category === 'dairy',
                        'btn-veggies':i.category === 'veggies',
                        'btn-fruits':i.category === 'fruits',
                        'btn-spices':i.category === 'spices',
                        'btn-grains':i.category === 'grains'}">
                    {{i.name}}</button>
            </div>
            <br>
            <hr>
            <button class="btn btn-primary" (click)="addSelectionToArray()">Submit</button>
        </div>
    </section>
</div>
