<section class="page-section about-heading">
  <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../../../assets/images/lunch.jpg" alt="">
      <div class="about-heading-content">

        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Recipes For The Unimaginative</span>
                <span class="section-heading-lower">About Our Application</span>
              </h2>
              <p>
                We are RecAPI and our app will allow users to login and keep track of their virtual cabinet representing their ingredients.
                These ingredients will be used to determine what recipes can be created. It will allow users to search for recipes
                with certain ingredients, create their own recipes, and will also make recommendations based on the user's pantry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
            <!-- <div class="about-heading-content"> -->
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Keep Track of your Pantry</span>
              <span class="section-heading-lower">Your Ingredients</span>
            </h2>
          </div>
          
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="./../../../assets/images/burgers.jpg" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">
              Have a lot of things in your kitchen you don't know what to do with?
              This application is designed with you in mind. Get inspired with ResApi
               (pronounced like recipe)! No more wondering what to cook or thinking 
               you don't have anything to make. Let ResApi do the work for you by
               suggesting recipes tailored to you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Save Your Ingredients &amp; Recipes</span>
              <span class="section-heading-lower">Be a Member of the Family</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="./../../../assets/images/rice.jpg" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">
              Not only can you take inventory of what is in your own kitchen, but you
              can keep track of it by creating an account and saving your list of 
              ingredients to come back to each time you log in. Keep track of your
              food, save recipes you like, and stay excited about cooking!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Delicious Recipes, Good Eats</span>
                <span class="section-heading-lower">Kitchen &amp; Pantry</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="./../../../assets/images/dark.jpg" alt="">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">
                Use this application to keep track of your ingredients. Based on what
                you add to your virtual "pantry," you will get a list of suggested recipes
                to prepare. Use the "Add Ingredients" tab to start putting together your
                own pantry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
