<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<ng-template #content>
  <div class="modal-header">
    <h3 class="modal-title">{{ instructions.title}}</h3>

  </div>
  <div class="modal-body">
    <h4>Instructions:</h4>
    <ol class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let s of steps">{{ s.step }}</li>
    </ol>
    <br>
  </div>
  <div class="modal-footer">
    <button (click)="close()" class="btn btn-outline-danger btn-lg">Close</button>
  </div>
</ng-template>